In [1]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

In [2]:
df = pd.read_csv("data.csv")

df.head()

,prodi,nim,nama,dokumen
0,manajemen,215350030,Andi Adriani Paesal,1 jurnal economos feb um parepare pengaruh mot...
1,manajemen,215350034,Riskianti,efektivitas profitabilitas guna modal kerja pa...
2,manajemen,215350007,Iis Faradillah,1 jurnal economos feb um parepare draft templa...
3,manajemen,215350015,Ardiyanto,1 jurnal economos feb um parepare pengaruh bia...
4,pembangunan,213210027,Junaedi,evaluasi kerja badan rencana bangun daerah bap...

In [5]:
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(df.dokumen[:20])
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
neigh = NearestNeighbors(n_neighbors=3, n_jobs=-1) 
neigh.fit(X_train_tfidf)

print(X_train_counts)

  (0, 0)	3
  (0, 2)	1
  (0, 10)	1
  (0, 13)	2
  (0, 64)	1
  (0, 71)	1
  (0, 72)	1
  (0, 81)	1
  (0, 82)	4
  (0, 90)	1
  (0, 91)	1
  (0, 98)	4
  (0, 99)	2
  (0, 100)	1
  (0, 121)	5
  (0, 215)	1
  (0, 232)	2
  (0, 249)	1
  (0, 310)	4
  (0, 347)	1
  (0, 393)	1
  (0, 412)	6
  (0, 414)	1
  (0, 422)	1
  (0, 423)	1
  :	:
  (19, 7695)	1
  (19, 7696)	1
  (19, 7697)	1
  (19, 7698)	1
  (19, 7699)	1
  (19, 7700)	1
  (19, 7701)	1
  (19, 7702)	1
  (19, 7703)	1
  (19, 7704)	1
  (19, 7705)	1
  (19, 7706)	1
  (19, 7707)	1
  (19, 7708)	1
  (19, 7709)	1
  (19, 7710)	1
  (19, 7713)	1
  (19, 7715)	1
  (19, 7717)	1
  (19, 7726)	1
  (19, 7727)	1
  (19, 7729)	1
  (19, 7737)	1
  (19, 7742)	1
  (19, 7747)	1

In [4]:

test=["jurnal daya kwh meter komunikasi"]
X_test_counts = count_vect.transform(test)

X_test_tfidf = tfidf_transformer.transform(X_test_counts)

res = neigh.kneighbors(X_test_tfidf)

res

(array([[1.05692823, 1.38643708, 1.38671919]]), array([[16, 15,  9]]))